.post {
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-bottom: 10px;
}

.recent-search {
    width: 88%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: pink;
    gap: 20px;
}
.fresh-arrival {
    width: 88%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: chocolate;
    gap: 20px;
}
.card {
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
    border-radius: 5px;
}
